{% extends "base_template.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <a href="{{ url_for('inicio') }}" class="btn btn-volver">Volver al inicio</a>
    <h1>Consultar Registros de Horario</h1>
    <form action="{{ url_for('consultarRegistro') }}" method="POST">
        <label for="legajo">Legajo:</label>
        <input type="text" name="legajo" id="legajo" required><br><br>

        <label for="dni4">Últimos 4 dígitos del DNI:</label>
        <input type="text" name="dni4" id="dni4" maxlength="4" required><br><br>

        <label for="fechainicio">Fecha de inicio:</label>
        <input type="date" name="fechainicio" id="fechainicio" required><br><br>

        <label for="fechafin">Fecha de fin:</label>
        <input type="date" name="fechafin" id="fechafin" required><br><br>

        <button type="submit">Consultar</button>
    </form>
{% endblock %}

